// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .compacted-history {
    grid-column: 1/2 !important;
    grid-row: 3/4 !important;
  }
  .compacted-viewer {
    grid-column: 1/2;
    grid-row: 2/3 !important;
  }

  header {
    padding: 1rem !important;
  }

  main {
    margin: 0rem !important;
    .inbox {
      grid-template-columns: 1fr !important;
      grid-template-rows: auto 1fr !important;
      padding: 0 !important;
      // Inbox history results container
      &-results {
        grid-row: 1/2;
        padding: 1rem;
      }
      // Inbox history emails container
      &-history {
        grid-row: 2/3;
        &-header {
          display: flex !important;
          justify-content: flex-start !important;
          // All items inside the header  
          & > * {
            display: flex;
            padding: 0rem .25rem 0rem 1rem;
          }
          // All items inside the header except the last one
          & > *:not(:last-child) {
            border-right: 1px solid var(--dark-color);
          }
        }
        &-content {
          .inbox-history-email {
            display: grid;
            grid-template-columns: .3fr 9fr 1fr !important;
            grid-template-rows: 1fr 1fr 1fr;
            padding: 1rem 0;
            &-icons {
              grid-row: 1/3;
              display: flex !important;
              flex-direction: column;
              align-items: center;
              padding: .5rem;
              font-size: 1rem;
            }
            &-sender {
              grid-column: 2/3;
              grid-row: 1/1;
              font-weight: bold;
              display: flex;
              justify-content: space-between;
              padding-right: 1rem;
            }
            &-recipient {
              grid-column: 2/4;
              grid-row: 2/3;
            }
            &-subject {
              grid-column: 1/4;
              grid-row: 3/4;
              font-size: 1.5rem;
            }
            &-date {
              grid-column: 3/4;
              grid-row: 1/1;
              font-weight: normal !important;
              overflow: visible !important;
            }
            // All email elements
            & > * {
              align-items: center;
            }
          }
        }
      }
      // Inbox expanded emails container
      &-viewer {
        grid-row: 3/4;
      }
    }
  }
}
