// Add active item on header [from, to, subject, (date)]
// Add on hover style

// Colors
:root {
	--lighter-color: #ffffff;
	--light-color: #f6f5f4;
	--gray-color: #888580;
	--dark-color: #666460;
  --darker-color: #343535;
  --hover-color: #0037d9;
  --border-color: #e0e0e0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  user-select: none;
  background: var(--lighter-color);
  color: var(--darker-color);
  height: 100vh;
  font-size: 1.25rem;
  font-family: sans-serif;


  header {
    padding: 2rem 2rem 0rem 2rem;
    display: flex;

    .search-bar {
      display: inherit;
      border: 2px solid var(--border-color);
      border-radius: 0.5rem;
      &-date-selector {
        display: inherit;
        align-items: center;
        margin: 0rem 1rem;
        .icon-calendar {
          margin-right: 1rem;
          color: var(--dark-color);
        }
      }
      &-button {
        background: var(--light-color);
        padding: 1rem 1.25rem;
        border-radius: 0% .5rem .5rem 0%;
        border-left: 2px solid var(--border-color);
      }
    }
  }

  main {

    .inbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4rem 15fr;
      padding: 1rem 2rem 0rem 2rem;
      height: 100%;
      background-image: url('');
      background-repeat: no-repeat;
      background-position: center;
      // History results container
      &-results {
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        font-weight: bold;
        color: var(--dark-color);
        border-bottom: 2px solid var(--border-color);
        cursor: pointer;
        &-counter {
          font-size:1.5rem;
          padding: 0rem .25rem;
        }
      }
      // History items container
      &-history {
        grid-column: 1/3;
        grid-row: 2/3;
        // background: blue;
        display: grid;
        grid-template-columns: 1.5fr 2.5fr 5fr 1fr;
        grid-template-rows:  auto repeat(10, 1fr);
        height: 100%;
        &-header,
        &-item {
          grid-column: 1/5;
          display: grid;
          grid-template-columns: inherit;
          justify-content: center;
          align-items: center;
          padding: 1rem;
        }
        &-header {
          // border: 1px solid red;
          // border-top: 2px solid var(--border-color);
          border-bottom: 2px solid var(--border-color);
          background-color: var(--light-color);
          color: var(--dark-color);
          font-weight: bold;
          & > * {
            display: flex;
          }
          // cursor: pointer;
          &-from,
          &-to,
          &-subject,
          &-date{ 
            cursor: pointer;
          }
        }
        &-item {
          // border: 1px solid blue;
          border-bottom: 2px solid var(--border-color);
          &-icons {
            display: none;
          }
          &-sender,
          &-recipient,
          &-subject {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; // Not working
          }
          &-recipient,
          &-subject {
            display: flex;
            justify-content: space-between;
            padding-right: 2rem;
          }
          &-date {
            font-weight: bold;
            display: flex; // Delete?
          }
          &-recipient {
            &-counter {
              display: inline;
              color: var(--lighter-color);
              background: var(--dark-color);
              padding: .2rem .5rem .2rem .5rem;
              border-radius: .2rem;
              font-size: 1rem;
            }
          }
          // Hide the history item body text by default
          &-body {
            display: none;
          }
        }
        &-item:hover {
          color: var(--hover-color);
          cursor: pointer;
          background-color: var(--light-color)
        }
      }
      // History viewer container
      &-viewer {
        grid-row: 2/3;
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        .inbox-item-expanded {
          position: relative;
          display: grid;
          grid-template-columns: 9fr 9fr 3fr;
          grid-template-rows: 1fr 1fr auto;
          height: max-content;
          margin-bottom: 1rem;
          border: 1px solid black;
          &-sender,
          &-recipient,
          &-subject,
          &-date,
          &-body {
            color: var(--lighter-color);
            h4, h5{
              padding: .25rem 1rem;
            }
            p {
              padding: .5rem 1rem;
            }
            h4 {
              background: var(--dark-color);
            }
            h5 {
              background: var(--gray-color);
            }
          }
          &-sender {
            grid-column: 1/2;
            grid-row: 1/2;
          }
          &-recipient {
            grid-column: 2/3;
            grid-row: 1/2;
          }
          &-date {
            grid-column: 3/4;
            grid-row: 1/2;
          }
          &-subject {
            grid-column: 1/4;
            grid-row: 2/3;
          }
          &-body {
            grid-column: 1/4;
            background: white;
            color: black;
          }
        }
      }
    }
  }
}


// Utility classes


// Display classes

.visibility-hidden {
  visibility: hidden;
}

.mobile {
  display: none;
  // border: 1px solid magenta;
}

.desktop {
  display: block;
  // border: 1px solid cyan;
}

.compacted-history {
  grid-column: 1/2 !important;
}

.compacted-viewer {
  grid-column: 2/3;
}

// Icon classes

.icon {
  width: 1.5rem;
}

.icon-arrow-1 {
  width: 0.75rem;
  padding: 0rem .25rem;
}

.icon-arrow-2 {
  width: 0.5rem;
  margin-left: 1rem; 
}

// Other classes 

.active-header-item {
  color: var(--darker-color);
  // color: red;
}

.window-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  color: var(--light-color);
  border: 1px solid var(--border-color);
  padding: .2rem;
}

// Visuals
// main {
//   border: 2px solid magenta;
//   .inbox-history {
//     background: gray;
//     border: 2px solid cyan;
//     &-results {
//       background: red;
//     }
//     &-header {
//       background: green;
//     }
//     &-item {
//       background: yellow;
//     }
//   }
// }

@import "mediaqueries";