// @import "test";

// Colors
:root {
	--lighter-color: #ffffff;
	--light-color: #f6f5f4;
	--gray-color: #c4c4c4;
	--dark-color: #666460;
  --darker-color: #343535;
  --hover-color: #0037d9;
  --border-color: #e0e0e0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
  background: var(--lighter-color);
  color: var(--darker-color);
  font-size: 1.25rem;
  font-family: sans-serif;

  header {
    padding: 2rem 2rem 0rem 2rem;
    display: flex;
    .search-bar {
      display: inherit;
      border: 2px solid var(--border-color);
      border-radius: 0.5rem;
      &-date-selector {
        display: inherit;
        align-items: center;
        margin: 0rem 1rem;
        .icon-calendar {
          margin-right: 1rem;
          color: var(--dark-color);
        }
      }
      &-button {
        background: var(--light-color);
        padding: 1rem 1.25rem;
        border-radius: 0% .5rem .5rem 0%;
        border-left: 2px solid var(--border-color);
      }
    }
  }

  main {
    height: 100vh;
    margin: 1rem 2rem 0rem 2rem;
    .inbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4rem 9fr 1fr;
      height: 100%;
      background-image: url('');
      background-repeat: no-repeat;
      background-position: center;
      // Inbox history results container
      &-results {
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        font-weight: bold;
        color: var(--dark-color);
        border-bottom: 2px solid var(--border-color);
        cursor: pointer;
        &-counter {
          font-size:1.5rem;
          padding: 0rem .25rem;
        }
      }
      // Inbox history emails container
      &-history {
        grid-column: 1/3;
        grid-row: 2/3;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr; // ?
        height: 100%;
        &-header,
        &-content {
          grid-column: 1/3;
          
          grid-template-columns: 1.5fr 2.5fr 5fr 1fr;
        }
        &-header,
        .inbox-history-email {
          display: grid;
          padding: .75rem;
          border-bottom: 2px solid var(--border-color);
        }
        &-header {
          grid-row: 1/2;
          
          background-color: var(--light-color);
          color: var(--dark-color);
          font-size: 1rem;
          font-weight: bold;
          // Select all items inside the header
          & > * {
            display: flex;
            p {
              cursor: pointer;
            }
          }
        }
        &-content {
          grid-row: 2/3;
          
          .inbox-history-email {
            // grid-template-columns: 1.5fr 2.5fr 5fr 1fr;
            grid-template-columns: inherit;
            &-sender,
            &-recipient,
            &-subject,
            &-date {
              display: flex;
              justify-content: space-between;
              padding-right: 2rem;
              white-space: nowrap;
              overflow: hidden;
              p {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            &-date {
              // Fix
              font-weight: bold;
            }
            // Hide the email body by default
            &-body {
              display: none;
            }
            // Hide the email icons by default
            &-icons {
              display: none;
            }
          }
          .inbox-history-email:hover {
            color: var(--hover-color);
            cursor: pointer;
            background-color: var(--light-color);
          }
        }
      }
      // Inbox expanded emails container
      &-viewer {
        grid-row: 2/4;
        
        display: flex;
        flex-direction: column;
        background-color: var(--light-color);
        .inbox-email-expanded {
          display: grid;
          grid-template-columns: 9fr 9fr 2fr;
          grid-template-rows: 1fr 1fr auto;
          margin-bottom: 1rem;
          border: 1px solid var(--border-color);
          box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.17);
          position: relative; // This keeps the close button inside the div
          &-sender,
          &-recipient,
          &-subject,
          &-date,
          &-body {
            color: var(--lighter-color);
            h4, h5{
              padding: .25rem 1rem;
            }
            p {
              padding: .5rem 1rem;
            }
            h4 {
              background: var(--darker-color);
            }
            h5 {
              background: var(--dark-color);
            }
          }
          &-sender {
            grid-column: 1/2;
            grid-row: 1/2;
          }
          &-recipient {
            grid-column: 2/4;
            grid-row: 1/2;
            border-left: 1px solid var(--border-color);
          }
          &-date {
            grid-column: 3/4;
            grid-row: 2/3;
            border-left: 1px solid var(--border-color);
          }
          &-subject {
            grid-column: 1/3;
            grid-row: 2/3;
          }
          &-body {
            grid-column: 1/4;
            background: var(--lighter-color);
            color: var(--darker-color);
          }
        }
      }
    }
  }
}


// Utility classes


// Display
.visibility-hidden {
  visibility: hidden;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

// Grid position
.compacted-history {
  grid-column: 1/2 !important;
}

.compacted-viewer {
  grid-column: 2/3;
}

// Icons
.icon {
  width: 1.5rem;
}

.icon-arrow-1 {
  width: 0.75rem;
  padding: 0rem .25rem;
}

.icon-arrow-2 {
  width: 0.5rem;
  margin-left: 1rem; 
}

// Other classes 
.active-header-item {
  color: var(--darker-color);
}

.window-close {
  position: absolute;
  top: 0;
  right: 0;
  color: lightcoral;
  border: 1px solid var(--border-color);
  padding: .2rem;
}

.recipient-counter {
  display: inline;
  color: var(--lighter-color);
  background: var(--dark-color);
  padding: .2rem .5rem .2rem .5rem;
  border-radius: .2rem;
  font-size: 1rem;
}

@import "mediaqueries";