// Add active item on header [from, to, subject, (date)]
// Add on hover style

// Colors
:root {
	--lighter-color: #ffffff;
	--light-color: #f6f5f4;
	--gray-color: #888580;
	--dark-color: #666460;
  --darker-color: #343535;
  --hover-color: #0037d9;
  --border-color: #e0e0e0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  user-select: none;
  background: var(--lighter-color);
  color: var(--darker-color);
  height: 100vh;
  font-size: 1.25rem;
  font-family: sans-serif;

  header {
    padding: 2rem 2rem 0rem 2rem;
    display: flex;

    .search-bar {
      display: inherit;
      border: 2px solid var(--border-color);
      border-radius: 0.5rem;
      &-date-selector {
        display: inherit;
        align-items: center;
        padding: 1rem;
        
        .icon-calendar {
          margin-right: 1rem;
          color: var(--dark-color);
        }
      }
      &-button {
        background: var(--light-color);
        padding: 1rem 1.25rem;
        border-radius: 0% .5rem .5rem 0%;
        border-left: 2px solid var(--border-color);
      }
    }
  }

  main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    .inbox-history {
      display: grid;
      grid-template-columns: 1.5fr 2.5fr 5fr 1fr;
      grid-template-rows: repeat(12, 1fr);
      height: 100%;

      &-results,
      &-header,
      &-item {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: inherit;
        justify-content: center;
        align-items: center;
        padding: 1rem;
      }
      &-results {
        font-weight: bold;
        color: var(--dark-color);
        &-counter {
          grid-column: inherit;
        }
      }
      &-item {
        border-bottom: 2px solid var(--border-color);
        &-icons {
          display: none;
        }
        &-sender,
        &-subject {
          overflow: hidden;
        }
        &-recipient,
        &-subject {
          display: flex;
          justify-content: space-between;
          padding-right: 2rem;
        }
      }
      &-item:hover {
        color: var(--hover-color);
        cursor: pointer;
        background-color: var(--light-color)
      }
      &-header {
        border-top: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
        background-color: var(--light-color);
        color: var(--dark-color);
        font-weight: bold;
      }
      &-item-date {
        font-weight: bold;
        display: flex;
      }
    }
  }
}

.active-header-item {
  color: var(--darker-color);
}

.recipients-counter {
  display: inline;
  color: var(--lighter-color);
  background: var(--dark-color);
  padding: .2rem .5rem .2rem .5rem;
  border-radius: .2rem;
}

.mobile {
  display: none
}

.icon {
  width: 1.5rem;
}

.icon-arrow-1 {
  width: 0.75rem;
}

.icon-arrow-2 {
  width: 0.5rem;
  margin-left: 1rem; 
}


// Visuals
// main {
//   border: 2px solid magenta;
//   .inbox-history {
//     background: gray;
//     border: 2px solid cyan;
//     &-results {
//       background: red;
//     }
//     &-header {
//       background: green;
//     }
//     &-item {
//       background: yellow;
//     }
//   }
// }

@import "mediaqueries";